@import url('https://fonts.googleapis.com/css2?family=Lato&family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: bisque;
    box-sizing: border-box;
}

/* heading and logo*/


h1, h2{
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #3a3a3a;
}

#namaste-logo{
    text-align: center;
    font-size: 180%;
    list-style-type: none;
    padding: 55px 50px 25px 50px;
}
#namaste-logo a{
    text-decoration: none;
}

/* navigation links */

#menu{
    font-size: 180%;
    letter-spacing: 4px;
    text-align: center;
    padding: 25px 50px 25px 50px;
}

#menu a{
    color: #fafafa;
    text-decoration: none;
    color: inherit;
}

#menu li{
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
    text-decoration: none;
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

/*namaste picture*/
#namste-picture-section{
    height: 450px;
    max-width: 100%;
    overflow: hidden;
}
#namaste-picture{
    height: 450px;
    max-width: 100%;
    background: url(../image/jay-castor-7AcMUSYRZpU-unsplash.jpg) no-repeat center center;
    background-size: cover;
}


/* About section*/

#about-p{
    margin: 1%;
    padding: 35px 35px 35px 35px;
    max-width: 100%;
     
}

#about-p p{
    text-align: center;
    font-size: 120%;
    padding: 35px 55px 65px 55px;
    font-family: "Quicksand", sans-serif;
}

/* yoga picture*/

#yoga-picture{
  height: 550px;
  max-width: 100%;
  margin: 1%;
  padding: 5px 155px 25px 155px;
  text-align: center;
}

#yoga-picture img{
    max-width: 100%;
    height: 270px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

/* category section Mindfulness Meditation and Yoga*/

#namaste-category{
    max-width: 100%;
    height: 250px;
    text-align: center;
    padding: 20px 15px 0px 0px;
    
}

#namaste-category h1{
    padding:15px;
}

#namaste-category div{
    max-width: 100%;
    height: 210px;
    padding: 20px 15px 0px 30px;
    text-align: center;
    border: 2px solid white ;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
}

.mindfulness, .meditation, .yoga li{
    list-style-type: none;
}

/* Instructore section */

#our-instructore{
    background-color: green;
}
.instructore-container{
    max-width: 150px;
    height: 150px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;    
}

.image-instructore-bg{
    
}
